:root {
    --clr-dark: #232423;
    --clr-light: #FAFAFA;
    --clr-secondary: #a32734;
    --clr-scrollbar-bg: #e4e4e4;
    --menu-width: 50px
}
*{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;

    font-size: 20px;
    scroll-behavior: smooth;
}

body {
   
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 400vh;
    width: 100%;

    
}


dir{
    padding-left: calc(var(--menu-width)*1.5);
    padding-right: calc(var(--menu-width) / 2);
    display: grid;
    place-items: center;
}
h1{
    display: inline-block;
    font-size: 6em;
}
h2{
    font-size: 2em;
}


a[underline] {
    text-decoration: none;
    color: var(--clr-light);
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat:  no-repeat;
    background-origin: left bottom;
    background-position: left bottom;
    background-size: 0% 3px;
    transition: background ease .3s 1s;
}
a:hover[underline], a:focus[underline] {

    background-size: 100% 3px;
    transition: background ease .3s 0s;
}
a:active[underline] {
    background-image: linear-gradient(var(--clr-dark), var(--clr-dark));
}


svg{
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
nav {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: var(--menu-width);
    background-color: var(--clr-dark);
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(4, var(--menu-width));
}
nav a {
    color: var(--clr-light);
    display: inline-block;
    text-align: center;
    text-justify: center;
   

    outline: var(--clr-secondary) 2px solid;
    outline-offset: -2px;
    

    border: var(--clr-secondary) 2px solid;
    transform: rotate(0deg);
    transition: transform ease .3s ;

}
nav a:hover, nav a:focus {
    filter: hue-rotate(180deg);
    transform: rotate(360deg);
    outline-offset: -8px;
    outline-width: 6px;
}
nav a:active {
    color: var(--clr-secondary);
}

.small{
    display: inline-block;
}
.small > img{
    width: 2rem !important;
}

#home{
    background-color: var(--clr-light);
}
#home img {
    width: 13em;
    grid-row: span 2;

}
#home > div {
    width: fit-content;
    display: grid;
    grid-template-rows: 10em;
    grid-template-columns: 13em 1fr;
    gap: 10px;
    
}
#name2 {
    color: var(--clr-secondary);
}


#about{
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    text-justify: center;
    text-align: center;
}
#about ul {
    text-align: justify;
    padding-left: 2ch;
}



#languages {
    background-color: var(--clr-dark);
    color: var(--clr-secondary);
}
#languages img{
    width: 12rem;
}
#languages-wrapper{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    overflow-x: scroll;

    place-items: center;
}
#languages p {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: end;
}
#languages-wrapper div {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}


#customize {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    
}
#customize > form {
    outline: 3px solid var(--clr-secondary);
    padding: 1rem;
}
#customize input[type="range"]{
    width: 15rem;
}



/*Scrollbar*/
*{
    scrollbar-color: var(--clr-secondary) var(--clr-scrollbar-bg);
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: var(--clr-scrollbar-bg);
    border-radius: 100px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: var(--clr-secondary);
}

@keyframes huerotate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}


@media only screen and (max-width: 740px) {
    * {
        font-size: 16px;
    }
    #home > div {
        place-items: center;
        grid-template-rows: repeat(3,fit-content);
        grid-template-columns: 1fr;
        text-justify: center;
        text-align: center;
    }
    h1{
        font-size: 3em;
    }
    nav{
        bottom: inherit;
        right: 0px;
        height: var(--menu-width);
        width: inherit;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4,var(--menu-width));
        place-content: center;
    }
    dir{
        padding-left: calc(var(--menu-width) / 2);
    }
    
}