:root{
    --clr-dark: #232423;
    --clr-light: #FAFAFA;
    --clr-secondary: #A32734;

    --menu-width: 50px;
}
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    max-width: 100%;
    word-wrap: normal;
}

body {
    background: var(--clr-light);
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,100vh);
    place-items: center;
    overflow-x: hidden;
}
body > div {
    padding: calc(var(--menu-width) + 20px);
    width: 100%;
    height: 100%;
    
}
body > div h1 {
    font-size: 3em;
}

a{
    color: var(--clr-dark);
    font-size: large;
    text-decoration: none;
    background: linear-gradient(currentColor,currentColor) no-repeat;
    background-position: left bottom;
    background-size: 0% 3px;
    transition: background ease-in .3s .5s;
}
a:visited{
    color: var(--clr-dark);
}
a:hover{
    transition: background ease-in .3s 0s;
    background-size: 100% 3px;
    
}
p{
    font-size: large;
}
menu {
    background: var(--clr-dark);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--menu-width);
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.home > img {
    height: 10ch;
    margin-right: 1rem;
}
.home > div > h1 {
    display: inline-block;
}
.home > div > h1:nth-child(2){
    color: var(--clr-secondary);
}
.about{
    background-color: #A32734;
    display: grid;
    place-items: center;
    color: var(--clr-light);
}
.about a{
    color: var(--clr-light);
}
.about a:visited{
    color: var(--clr-light);
}
@media  (width < 950px) {
    body > div {
        margin-left: calc(var(--menu-width)) !important;
        padding: 0 !important;
        max-width: calc(100% - var(--menu-width));
    }
}
@media  (width < 600px) {
    .home {
        flex-direction: column !important;
    }
    .home > div {
        text-align: center !important;
    }
    *{
        word-wrap: break-word !important;
        
       
    }
    
}