* {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
#obj {
    position: absolute;
    font-size: 6rem;
    font-weight: bold;
    
    border: solid currentColor;
    
}
body {
    font-family: sans-serif;
    background: #333;
}
.currentClr{
    font-size: 2rem;
    opacity: .5;
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}