* {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
#obj {
    position: absolute;
    font-size: 6rem;
    font-weight: bold;
    font-family: sans-serif;
    
}
body {
    background: black;
}